.row#feature
  .small-10.small-centered.large-6.large-centered.columns
    h3.subheader
     | Don't email links to your friends anymore
     br
     br
     | Use LinkKick to share (lists of) links instead

.row
  .small-12.large-12.columns
    = form_for @collection do |c|
      - @collection.errors.each do |attr, msg|
        = "#{attr} #{msg}"
      .row
        .small-12.large-12.columns
          = c.fields_for :links do |l|
            = l.text_field :url, placeholder: 'http://theoatmeal.com/comics/apple', id: 'new_link'
            = c.submit 'Share', id: 'share', class: 'button small'
