.row
  .small-12.large-12.columns
    h2.subheader style="color: #333"
      = raw notice

.row#link-container
  .small-12.large-12.columns
    ul#links
      - @links.each do |link|
        li.link
          h3.subheader
            a href="#{link.url}"= link.url

- if @collection.user == current_or_guest_user
  .row style="margin-top: 30px"
    .small-12.large-9.columns
      h6.subheader
        | Change the url
        - if @collection.updated_at == @collection.created_at
          br
          = "Try something that's easier to type than #{@collection.identifier} :)"
  .row
    .small-12.large-3.columns
      = form_for @collection do |c|
        = c.text_field :identifier, placeholder: 'Change the name of your url here'
        = c.submit 'Change', class: 'button'
