#new_link
  font-size: 1.5em

#share
  font-size: 1.5em

ul#links
  list-style-type: none
  padding: 0
  margin: 0

  li.link
    h3
      a
        font-size: 0.7em

button,
input,
select,
textarea
  -webkit-appearance: none
  border-radius: 0
